<h2><%= @user.username %></h2>

<h3>Films</h3>

<ul>
  <li>Writer</li>
  <% @user.writer.films.each do |film| %>
    <li><a href="/films/<%= film.id %>"><%= film.title %></a></li>
  <% end %>
</ul>

<ul>
  <li>Director</li>
  <% @user.director.films.each do |film| %>
  <li><a href="/film/<%= film.id %>"><%= film.title %></a></li>
  <% end %>
</ul>
