<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @user.username %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <h2><%= @user.username.capitalize %></h2>

    <h3>Films</h3>

    <ul>
      <li>Writer</li><br>
      <% @user.writer.films.each do |film| %>
          <li class="tab"><a href="/films/<%= film.slug %>" style="text-decoration:none"><%= film.title.capitalize %></a></li>
      <% end %>
    </ul>

    <ul>
      <li>Director</li><br>
      <% @user.director.films.each do |film| %>
        <li class="tab"><a href="/films/<%= film.slug %>" style="text-decoration:none"><%= film.title.capitalize %></a></li>
      <% end %>
    </ul>

    <% if logged_in? %>

      <a href="/users/<%= current_user.slug %>">Profile</a><br>
      <a href="/users">Users</a><br>
      <a href="/films/new">New Film</a><br>
      <a href="/films">Films</a><br>

    <% end %>

  </body>
</html>
