<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <style type="text/css">
    <!--
    .tab { margin-left: 40px; }
    -->
    </style>

    <style type="text/css">
    <!--
    .together {
    display: block;
    float: left;
    display: block;
    }
    .together2 {
      display: block;
      width: 30px;
    }
    -->
    </style>

  </head>
  <body>

    <h2>New Film</h2>

    <form action="/films" method="post">
      <input type="text" name="film[title]" placeholder="title"><br>
      <input type="text" name="film[genre]" placeholder="genre"><br>
      <input type="text" name="film[runtime]" placeholder="runtime"><br>
      <% User.all.each do |user| %>
        <% Writer.all.each do |writer| %>
          <% Director.all.each do |director| %>

            <h4 class="together "><%= user.username %></h4>
            <h4 class="tab together "><input type="checkbox" name="film[writer_ids][]"  id="writer_<%= writer.id %>" value="<%= writer.id %>"> writer</h4>
            <h4 class="tab together "><input type="checkbox" name="film[director_ids][]"  id="director_<%= director.id %>" value="<%= director.id %>"> director</h4>

          <% end %>
        <% end %>
      <% end %>

      <br><br><br><br>
      <input type="submit" value="New Film"><br><br>

    </form>

  </body>
</html>
