<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Film</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>

    <h2>New Film</h2>

    <form action="/films" method="post">
      <input type="text" name="film[title]" placeholder="title"><br>
      <input type="text" name="film[genre]" placeholder="genre"><br>
      <input type="text" name="film[runtime]" placeholder="runtime (in minutes)"><br><br>
      <% User.all.each do |user| %>

        <h4 class="together "><%= user.username %></h4>
        <h4 class="together "><input type="checkbox" name="film[writer_ids][]"  id="writer_<%= user.writer.id %>" value="<%= user.writer.id %>"> writer</h4>
        <h4 class="together "><input type="checkbox" name="film[director_ids][]"  id="director_<%= user.director.id %>" value="<%= user.director.id %>"> director</h4>
        <br><br>
      <% end %>

      <input type="submit" value="New Film"><br><br>

    </form>

    <% if logged_in? %>

      <a href="/users/<%= current_user.slug %>">Profile</a><br>
      <a href="/users">Users</a><br>
      <a href="/films">Films</a><br>

    <% end %>

  </body>
</html>
