<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Film</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>

    <h2>Edit Film</h2>

    <form action="/films/<%= @film.slug %>" method="post">
      <input type="hidden" id="hidden" name="_method" value="PATCH">
      <input type="text" name="film[title]" placeholder="title"  value="<% @film.title %>"><br>
      <input type="text" name="film[genre]" placeholder="genre" value="<% @film.genre %>"><br>
      <input type="text" name="film[runtime]" placeholder="runtime" value="<% @film.runtime %>"><br><br>
      <% User.all.each do |user| %>

            <h4 class="together "><%= user.username %></h4>
            <h4 class="together "><input type="checkbox" name="film[writer_ids][]"  id="writer_<%= user.writer.id %>" value="<%= user.writer.id %>" <%='checked' if @film.writers.any? {|w| w.id == user.writer.id} %>> writer</h4>
            <h4 class="together "><input type="checkbox" name="film[director_ids][]"  id="director_<%= user.director.id %>" value="<%= user.director.id %>" <%='checked' if @film.directors.any? {|d| d.id == user.director.id} %>> director</h4>
            <br><br>
      <% end %>

      <input type="submit" value="Edit Film">

    </form>

    <% if logged_in? %>
      <br>
      <a href="/users/<%= current_user.slug %>">Profile</a><br>
      <a href="/users">Users</a><br>
      <a href="/films/new">New Film</a><br>
      <a href="/films">Films</a><br>

    <% end %>

  </body>
</html>
