<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @film.title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <h1><%= @film.title.capitalize %></h1>
    <h3>  genre: <%= @film.genre %></h3>
    <h3>  runtime: <%= @film.runtime + " min" %></h3>
    <h3 class="together"><%= @film.writers.size == 1 ? "  writer: " : "  writers: " %></h3>
    <%  @film.writers.each_with_index do |writer, i| %>
      <h3 class="together2" ><a href="/users/<%= writer.user.slug %>"><%= writer.user.username %></a></h3>
      <% if i == @film.writers.size - 1 %>
        <h3 class="together">.</h3>
      <% else %>
        <h3 class="together">,</h3>
      <% end %>
    <% end %>
    <br><br>
    <h3 class="together"><%= @film.directors.size == 1 ? "  director: " : "  directors: " %></h3>
    <% @film.directors.each_with_index do |director, i| %>
      <h3 class="together2"><a href="/users/<%= director.user.slug %>"><%= director.user.username %></a></h3>
      <% if i == @film.directors.size - 1 %>
        <h3 class="together"><%= ". " %></h3>
      <% else %>
        <h3 class="together"><%= ", " %></h3>
      <% end %>
    <% end %>
    <br><br>

    <form action="/films/<%= @film.slug %>/delete" method="post">

      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Film">

    </form>

    <% if logged_in? %>
      <br>
      <a href="/films/<%= @film.slug %>/edit">Edit Film</a><br>
      <a href="/users/<%= current_user.slug %>">Profile</a><br>
      <a href="/films/new">New Film</a><br>
      <a href="/films">Films</a><br>

    <% end %>

  </body>
</html>
